/*escolha blu = div*/
.escolha-blu{
    flex: 1;
    background-color:white;
    border-radius: 8px;
    padding: 30px;
    position: relative;
    left: -10px;
    margin-left: 20px;
    margin-right: 0px;
}
/*blu = section*/
.blu{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    opacity: .4;
}
/*configuraçao da imagem de dentro da div*/
img#minidisplay{
    width: 400px;
    height: 400px;
    border-radius: 15px;
    margin: 0px;
    position: relative;
    top: -10px;
    scale: 1.15;
}
span#imagem{
    color: transparent;
    display: inline-block;
}
/*configuraçao dos textos de dentro da div*/
h2.endereco{
    border-bottom: 3px solid black;
    margin-right: 100px;
    color: black;
}
a.matricule-se{
    border: 2px solid black;
    padding: 6px;
    text-decoration: none;
}
a.matricule-se:hover{
    box-shadow: 5px 5px 5px black;
    transition: .3s;
}
/*ajustes finos de dentro das divs*/
a#sudoeste{
    position: relative;
    top: 19px;
}
a#asasul{
    position: relative;
    top: 19px;
}
a#aguas{
    position: relative;
    top: 19px;
}
/*parte da magica*/
img.invisivel{
    opacity: 0;
    position: absolute;
    height: 600px;
    width: 100%;
}
img#I1{
    top: 360px;
}
img#seta{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 580px;
    left: 400px;
}
h2#explicacao{
    position: absolute;
    top: 580px;
    left: 600px;
    text-transform: uppercase;
    font-size: 20pt;
}
/*mapa*/
div#mapa{
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 800px;
    flex-wrap: wrap;

    h1{
        border-bottom: 3px solid black;
    }
    
}
iframe#mapa{
    border: 3px solid white;
}
